/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: Arial, sans-serif;
  font-size: 1.125rem;
  font-variation-settings: "wght" var(--normal-text);
  font-style: normal;
  line-height: 1.3125rem;
  background-image: var(--bg-gradient);
  background-attachment: fixed;
  background-size: cover;
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font), sans-serif;
  }
}

.width-content {
  inline-size: clamp(var(--min-width-content), 90%, var(--max-width-content));
}

@media (width <= 375px) {
  .button__text {
    display: block;
    padding-block-start: 4px;
  }

  .save-button {
    display: flex;
    flex-direction: column;
  }
}

.header {
  margin-inline: auto;
  margin-block: 100px;
  border: 2px solid #000;
  text-align: center;
  padding-block: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  background-color: #fff;
}

.header__logo {
  font-family: var(--accent-font);
  font-size: clamp(2.625rem, 2.2143rem + 2.0536vw, 4.0625rem);
  line-height: clamp(2.625rem, 2.2143rem + 2.0536vw, 4.0625rem);
  padding-block-end: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(0.75rem, 0.5536rem + 0.9821vw, 1.4375rem);
  line-height: clamp(0.75rem, 0.5536rem + 0.9821vw, 1.4375rem);
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  list-style: none;
}

.card__title {
  font-family: var(--main-font);
  font-variation-settings: "wght" var(--bold-text);
  font-size: 1.125rem;
  padding: 6px 10px 5px 10px;
  border: 2px solid #000;
  background-color: #fff;
}

.card__img {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  mix-blend-mode: hard-light;
}

.card__container-img {
  inline-size: 100%;
  min-height: 120vh;
  position: relative;
  margin: 0 0 -6px 0;
}

.card__label-img {
  position: absolute;
  inset-inline-end: clamp(11px, 2vw, 25px);
  inset-block-start: 23px;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  text-shadow: 1px 1px 2px var(--color-white), -1px -1px 2px var(--color-white);
}

@supports (-webkit-text-stroke: 1px var(--color-white)) {
  .card__label-img {
    text-shadow: none;
    -webkit-text-stroke: 0.2px var(--color-white);
  }
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
  border: 2px solid #000;
  text-shadow: 1px 1px 5px #3f3f3f;
  background-color: #fff;
}

.card__buttons {
  position: relative;
  block-size: 38px;
  justify-self: end;
}

.card__icon-button {
  translate: -1px 1px;
  border-color: transparent;
  background-color: transparent;
  padding: 0;
  border: 2px solid transparent;
  transition: 0.3s ease;
  width: 40px;
  height: 100%;
  cursor: pointer;
}

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--color-black);
}

.like-icon {
  object-fit: cover;
  position: relative;
  inset-block-start: 1px;
}

.button {
  position: relative;
  border: 2px solid #000;
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--color-black);
}

.button::before {
  content: "";
  block-size: 100%;
  inline-size: 100%;
  position: absolute;
  inset: 0;
  transform-origin: left top;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  background-color: var(--color-black);
}

.button:hover::before {
  content: "";
  transform: scaleX(1);
}

.card__like-button {
  position: relative;
  inset-block-start: -7px;
  inline-size: 130px;
  block-size: 100%;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 0.78em;
  position: relative;
  color: var(--color-white);
  mix-blend-mode: difference;
}

.save-button {
  display: block;
  margin-inline: auto;
  margin-block: 50px 100px;
  padding-block: clamp(15px, 3.5%, 18px);
  padding-inline: 20px;
}

.save-button__ico {
  position: relative;
  inset-block-start: 2px;
  inset-inline-start: -2px;
  block-size: var(--size-ico-save);
  inline-size: var(--size-ico-save);
}

.save-button__ico-open {
  stroke: var(--color-white);
  fill: var(--color-white);
  mix-blend-mode: difference;
}

.dialog {
  inline-size: clamp(340px, 40%, 355px);
  padding: var(--padding-dialog);
}

.dialog[open] {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 30px 12px;
  align-items: center;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 /0.75);
}

.dialog__save-button {
  grid-column: 1 / 3;
  padding-block: 12px;
}

.dialog .save-button__ico {
  block-size: 39px;
  inline-size: 39px;
}

.filter-sepia {
  filter: sepia(85%);
}

.filter-hue {
  filter: hue-rotate(-90deg);
}

.filter-contrast {
  filter: contrast(70%);
}

.filter-invert {
  filter: invert(20);
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-blur {
  filter: blur(0.3rem);
}

.filter-mixid {
  filter: contrast(70%) hue-rotate(-230deg) invert(5);
}
