/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: Arial, sans-serif;
  font-size: 1.125em;
  font-variation-settings: 'wght' var(--normal-text);
  font-style: normal;
  line-height: 1.3125em;
}

@supports (font-variation-settings: normal) {
  .page {
      font-family: var(--main-font), sans-serif;
  }
}

.width-content {
  inline-size: clamp(var(--min-width-content), 70%, var(--max-width-content));
}

@media (width <= 480px) {
  .width-content {
    inline-size: 100%;
  }
}

.header {
  margin-inline: auto;
  margin-block: 100px;
  border: 2px solid #000;
  text-align: center;
  padding-block: clamp(120px, 80%, 128px);
}

.header__logo {
  font-family: var(--accent-font);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  padding-block-end: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  line-height: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.card__title {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--bold-text);
  font-size: 1.125em;
  padding: 3px 10px 6px 10px;
  border: 2px solid #000;
}

.card__img {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: hard-light;
}

.card__container-img {
  position: relative;
  margin: 0 0 -6px 0;
}

.card__label-img {
  position: absolute;
  inset-inline-end: clamp(11px, 2vw, 25px);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 0.875em;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px var(--color-text-outline),
              -1px -1px 2px var(--color-text-outline);
}

@supports (-webkit-text-stroke: 1px var(--color-text-outline)) {
  .card__label-img {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--color-text-outline);
  }
}

.card__content {
  display: grid;
  gap: 25px;
  padding: 25px;
  border: 2px solid #000;
}

.card__buttons {
  justify-self: end;
}

.card__icon-button {
  translate: 0 10px;
  background-color: transparent;
  border-color: transparent;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  padding: 7px 17px 9px;
  border: 2px solid #000;
  background-color: transparent;
}

.button__text {
  font-family: var(--accent-font);
  font-size: .78em;
}